section{
    height: 100vh;
}

@media (max-width: 575.98px) {

    section,form {
      width: 100%;
    }
  }
  

  @media (min-width: 576px) and (max-width: 767.98px) {
   
    form  {
      width: 75%;
    }
  }
  

  @media (min-width: 768px) and (max-width: 991.98px) {
    
    form  {
     width: 50%;
    }
  }
  

  @media (min-width: 992px)  {
   
    form  {
        width: 50%;
       }
  }
  

  .grediant{
    background-image: linear-gradient(rgba(243, 77, 77, 0.4), rgba(0, 0, 0, 0.7)), url("../../../assets/images/ambitious-studio-rick-barrett-03b61PY89hs-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }