
<section class="position-relative"> 
      <div class="forlinear d-flex align-items-center flex-column justify-content-center">
      <div class="text-white position-absolute gap-2 d-flex align-items-center flex-column">
      <h1 class="my-2 ff">Transform your body, elevate your life.</h1>
      <p class="text-center fs-5 fw-bold">Embrace the sweat, stay dedicated <br> watch your body transform into a stronger version of you</p>
    </div>
    </div>
    <section class="pos position-absolute w-100 d-md-flex justify-content-center d-none">

       
            <div class="container-fluid text-white">
                <div class="row m-0 p-5">
                    <div class="col-md-3 col-12"routerLink="/cardio">
                        <div class="forlinear2 rounded-3 p-5">
                            <div class="text-white gap-2 d-flex align-items-center flex-column">
                                <img  src="./assets/images/icons8-cardio-51(1).png"   loading="lazy" 
                                style="max-width: 100%; height: auto;"   alt="">
                            <h1>cardio</h1>
                            
                          </div>
                          </div>
                    </div>
                    <div class="col-md-3 col-12 "routerLink="/excerises">
                        <div class="forlinear2 rounded-3 p-5">
                            <div class="text-white gap-2 d-flex align-items-center flex-column">
                                <img  src="./assets/images/icons8-exercise-50.png"  loading="lazy" alt="">

                            <h1>exercise</h1>
                          </div>
                          </div>
                    </div>
                    <div class="col-md-3 col-12"routerLink="/equipment">
                        <div class="forlinear2 rounded-3 p-5">
                            <div class="text-white gap-2 d-flex align-items-center flex-column">
                                <img  src="./assets/images/icons8-barbells-50.png"  loading="lazy" alt="">

                            <h1>equipment</h1>
                          </div>
                          </div>
                    </div>
                    <div class="col-md-3 col-12"routerLink="/dietplan">
                        <div class="forlinear2 rounded-3 p-5">
                            <div class="text-white gap-2 d-flex align-items-center flex-column">
                                <img  src="./assets/images/icons8-nutrition-50.png"  loading="lazy" alt="">

                            <h1>nutrition</h1>
                          </div>
                          </div>
                    </div>
                </div>
          
          </div>
       
</section>
</section>
<section class="bg-dark  py-3">
<div class="container mt-5 pt-5 ">
    <div class="row">
        <div class="col-12 col-md-6 order-1 order-md-1 gap-4 text-white d-flex flex-column justify-content-center">
            <h2 class="text-danger">
                Ignite Your Fitness Journey!
            </h2>
            <p class="lh-lg fs-5">
                Are you ready to push your limits and discover your true strength? These powerful exercises are designed to help you build muscle, increase endurance, and boost your confidence. Click below to start your transformation!
            </p>
            <button class="my-2 btn btn-danger" routerLink="/excerises">Go to exercises</button>
        </div>
        <div class="col-12 col-md-6 order-0 order-md-0">
            <img  src="./assets/images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg"  loading="lazy" class="w-100" alt="">
        </div>
    </div>
</div>
</section>
<section class="bg-white  py-3">
    <div class="container">
        <div class="row">
           
            <div class="col-12 col-md-6 order-md-1 order-0">
                <img  src="./assets/images/steven-erixon-FxlYmu_To7o-unsplash.jpg"  loading="lazy" class="w-100" alt="">
            </div>
            <div class="col-12 col-md-6 order-1 order-md-0 gap-4  d-flex flex-column justify-content-center">
                <h2 class="text-danger">
                    Rev Up Your Heart!
                </h2>
                <p class="lh-lg fs-5">
                    Ready to elevate your energy and boost your mood? Cardiovascular exercise is key to improving your endurance and overall health. Dive into these heart-pumping workouts that will leave you feeling invigorated and strong! Click below to get started!
                </p>
                <button class="my-2 btn btn-danger"routerLink="/cardio">Kickstart Your Cardio Journey!</button>

            </div>
        </div>
    </div>
</section>
<section class="bg-dark  py-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 order-1 order-md-1 gap-4 text-white d-flex flex-column justify-content-center">
                <h2 class="text-danger">
                    Equip Yourself for Success!
                </h2>
                <p class="lh-lg fs-5">
                    Are you ready to take your training to the next level? The right equipment can make all the difference in your workout routine. From weights to resistance bands, discover the tools that will help you achieve your fitness goals. Click below to explore your options!
                </p>
                <button class="my-2 btn btn-danger"routerLink="/equipment">Gear Up and Get Started!</button>
            </div>
            <div class="col-12 col-md-6 order-0 order-md-0">
                <img src="./assets/images/ambitious-studio-rick-barrett-03b61PY89hs-unsplash.jpg"   loading="lazy"  class="w-100" alt="">
            </div>
        </div>
    </div>
</section>
<section class="bg-white  py-3">
    <div class="container ">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-0">
                <img  src="./assets/images/front-view-pink-centimeters-dark-surface-darkness-photo-pin-sewing-colors-measure.jpg"  loading="lazy" class="w-100" alt="">
            </div>
            <div class="col-12 col-md-6 order-1 order-md-0 gap-4 d-flex flex-column justify-content-center">
                <h2 class="text-danger">
                    Understand Your Body!
                </h2>
                <p class="lh-lg fs-5">
                    Curious about how your body composition impacts your health? Calculating your BMI is a great first step toward understanding your wellness journey. It helps you set realistic goals and track your progress. Click below to calculate your BMI and take charge of your health!
                </p>
                <button class="my-2 btn btn-danger"routerLink="/bmi">Calculate Your BMI Now!</button>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark  py-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 order-1 order-md-1 d-flex flex-column justify-content-center text-white">
                <h2 class="text-danger">
                    Craft Your Perfect Diet!
                </h2>
                <p class="lh-lg fs-5">
                    Ready to fuel your body with the right nutrients? Designing a personalized diet plan can help you achieve your health and fitness goals. Whether you're looking to lose weight, gain muscle, or simply eat healthier, the right plan makes all the difference. Click below to start creating your ideal diet!
                </p>
                <button class="my-2 btn btn-danger" routerLink="/dietplan">Build Your Diet Plan Today!</button>
            </div>
            <div class="col-12 col-md-6 order-0 order-md-0">
                <img src="./assets/images/davey-gravy-4WPcz_5RVMk-unsplash.jpg"  loading="lazy" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>
