.forlinear{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(230, 67, 67, 0.4)), url("../../../assets/images/kenny-eliason-5ddH9Y2accI-unsplash.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}