.forlinear{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(234, 23, 23, 0.4)), url("../../../assets/images/delaney-van-udE7Kh7QHbM-unsplash.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}