
<section class="position-relative"> 
    <div class="forlinear d-flex align-items-center flex-column justify-content-center">
    <div class="text-white position-absolute gap-2 d-flex align-items-center flex-column">
    <h1 class="my-2 ff">Commit to Be Fit!</h1>
    <p class="text-center fs-5 fw-bold">Every workout counts <br> so lace up and give it your all!</p>
  </div>
  </div>
</section>
<section class="bg-dark overflow-hidden">
  <div class="my-4 mx-auto w-50">
  <input class="form-control" placeholder="Search by meal" type="search" >
</div>
<section class="mt-3">
  <div class="container">
    <h1 class="text-center fw-bolder my-3">Explore Recipes</h1>
      <div class="row">
          @for (item of excesrData; track $index) {
          <div class="col-lg-3 col-md-4 col-6 gy-4">
                  <div class="card cr bg-black text-white"[routerLink]="['/ExcerDetails',item.id]">
                    
                    <div class=" onhover">
                      <img class="card-img-top" [src]="item.gifUrl" alt="Card image cap">
                      <div class="posabs d-flex align-items-center gap-1 shadow justify-content-center w-100">
                        <button class="btn btn-dark disabled">{{item.equipment}}</button>
                        <button class="btn btn-dark disabled">{{item.bodyPart}}</button>
                        <button class="btn btn-dark disabled">{{item.target}}</button>
                      </div>

                      </div>
                    
                      <div class="card-body">
                        <p class="card-text py-2 fw-bold">{{item.name}}</p>
                      </div>
                    </div>
                  </div>
              }
      </div>
  </div>
</section>
</section>
